div {
    text-align: left;
    border-radius: 25px;
    padding-bottom: 2em;
}

h4{
    padding-left: 1.2em;
    padding-top: 1.2em;
}

p {
    padding-left: 1em;
}

a{
    position: absolute;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

a:hover {
    font-size: 1.2em;
}

b{
    padding-left: 1em;
}

div:nth-child(odd) {
    background-color: rgb(235, 229, 229) ;
}

